<section id="products">
    <article>
        <h2 itemprop="name">Ranita Santorini</h2>
        <img src="img/ranita-santorini.jpg" >
        <p>52 €</p>
        <a href="detail.html">Ir al producto</a>
    </article>
    <article>
        <h2 itemprop="name">Vestido Corfú</h2>
        <img src="img/vestido-corfu.jpg" >
        <p>42 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Blusa Itaca</h2>
        <img src="img/blusa-itaca.jpg" alt="diskette">
        <p>32 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Bombacho Rodas</h2>
        <img src="img/bombacho-rodas.jpg" alt="diskette">
        <p>29 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Pinocho Creta</h2>
        <img src="img/pinocho-creta.jpg" alt="diskette">
        <p>31 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Mono Mykonos</h2>
        <img src="img/mono-mykonos.jpg" alt="diskette">
        <p>45 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Pantalón Itaca</h2>
        <img src="img/pantalon-itaca.jpg" alt="diskette">
        <p>32 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Vestido Mykonos</h2>
        <img src="img/vestido-mykonos.jpg" alt="diskette">
        <p>38 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Peto Rodas</h2>
        <img src="img/peto-rodas.jpg" alt="diskette">
        <p>42 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
    <article>
        <h2 itemprop="name">Vestido Santorini</h2>
        <img src="img/vestido-santorini.jpg" alt="diskette">
        <p>54 €</p>
        <a href="detail.html">Ir a detalle</a>
    </article>
</section>